{% extends 'Sidebar.html' %}
{% block content %}
{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
	<style type="text/css">
		body {overflow-x: hidden;}
		.b1{background-color: #4569E7; color: whitesmoke;}
		.b1:hover{background-color:cyan;}
		a{text-decoration: none;}
	</style>
</head>
<body>
	<div class="row pb-5">
	<div class="col-3"></div>
	<div class="col-6 pt-5 bg-white p-5 shadow-lg" style="border-radius: 50px;">
		<form method="POST" action="">
			{% csrf_token %}
			<p>{{Success}}</p>
			<p>{{res}}</p>
			<p>{{rest}}</p>
			<h2>Change Password</h2>
			<br/><br/>
			<input type="text" placeholder="Enter Old Password" class= "form-control rounded-0"name="opw"><br>
			<input type="text" placeholder="Enter New Password" class= "form-control rounded-0"name="npw"><br>
			<input type="text" placeholder="Enter Confirm Password" class= "form-control rounded-0"name="cpw"><br>
			<center><button type="submit" class="btn btn-lg rounded-pill ps-5 pe-5 b1" style="">Submit</button></center>
		</form>
</div>
</body>
</html>
{% endblock %}
