{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
	<style>body {overflow-x: hidden;}</style>
</head>
<body>
<footer>
	<div class="container">
	<div class="row">

		<div class="col-3">
		<h3>Our Products</h3>
		<p>AI Article Writer</p>
		<p>Image Background Remover</p>
		<p>Audio Voice Over AI</p>
		<p>Text Summerizer AI</p>
		<p>Art Generator</p>
	</div>
		<div class="col-3">
		<h3>About Tech AI</h3>
		<p>About</p>
		<p>Blog</p>
		<p>Sign In</p>
		<p>Register</p>
		<p>Contact</p>
	</div>
		<div class="col-3">
		<h3>Use Cases</h3>
		<p>AI Voiceover For Videos</p>
		<p>E-Learning</p>
		<p>AI Interactive Voice</p>
		<p>Auto Accessability</p>
		<p>Youtube Videos</p>
	</div>
		<div class="col-3">
		<h3>Support</h3>
		<p>Privacy Policy</p>
		<p>Terms Of Service</p>
		<p>Cookie Policy</p>
		<p>FAQ</p>
		<p>Helpdesk</p>
	</div>
</footer>
</body>
</html>