{%extends 'Base.html' %}
{%block content%}
{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
	<style type="text/css">
		body {overflow-x: hidden;}
	.log{border:2px solid #8fffec;; color: white; margin-left: 5px}
	.log:hover{background-color:#8fffec; color: white; margin-left: 5px}
</style>
	<style type="text/css">
		.b1{background-color: #4569E7; color: whitesmoke;}
		.b1:hover{background-color:cyan;}
	</style>
</head>
<body>
	<div class="row  pt-5 pb-5 text-center text-light" style="background-image: url({%static 'images/banner-bg.png' %}); font-family:30px green grotesk;">
	<div class="col-12"></div>
		<h1>CREATE ACCOUNT</h1>
		<p>Home / Create Account</p>
	</div>
	<div class="row pt-5 pb-5 bg-light">
	<div class="col-4"></div>
	<div class="col-4 pt-5 bg-white p-5 shadow-lg" style="border-radius: 50px;">
		<form method="POST" action="">
			{% csrf_token %}
			<p>{{Success}}</p>
		     {{msg}}</br></br>
			<h2>CREATE ACCOUNT</h2>
			<br/><br/>
			<input type="text" placeholder="Enter Name" class= "form-control rounded-0" name="nm"><br>
			<input type="email" placeholder="Enter Email" class= "form-control rounded-0"name="em"><br>
			<input type="password" placeholder="Enter Password" class="form-control rounded-0"name="pw"><br>
			<input type="password" placeholder="Enter Confirm Password" class="form-control rounded-0"name="cpw"><br>
			<center><button type="submit" class="btn btn-lg rounded-pill ps-5 pe-5 b1" style="">Submit</button></center><br>
			<center><a href="{% url 'Login' %}" class="text-decoration-none text-dark"><b>Already A Member?</b><br>Login</a></center>
		</form>
</div>
</div>
</body>
</html>
{%endblock %}
