{%extends 'Sidebar.html' %}
{%block content%}
{%load static%}

<style>body {overflow-x: hidden;}</style>
<div class="row pt-3 pb-5 text-center text-dark text-none-decoration" >
  <div class="col-12" style="font-size:35px;">
    <h1>ANALYSIS ON AI BILLS</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
  <div class="card-body shadow p-3" style="background-color:#f8b739 ;">
   <center><a href="{% url 'DetailBillAnalysis1' %}" class="card-title text-dark text-center" style="font-size:25px;">AI Bills Passed in All Countries.</a></center>
</div>
</div>
&emsp;
  <div class="col-12">
  <div class="card-body shadow p-3" style="background-color:#f8b739 ;">
    <center><a href="{% url 'DetailBillAnalysis2' %}" class="card-title text-dark text-center" style="font-size:25px;">AI Bills Passed in Different Countries in Years.</a></center>
</div>
</div>
&emsp; 
<div class="col-12">
  <div class="card-body shadow p-3" style="background-color:#f8b739 ;">
   <center><a href="{% url 'DetailBillAnalysis3' %}" class="card-title text-dark text-center" style="font-size:25px;">AI Bills Passed in Two Countries in all Years.</a></center> 
</div>
</div>
&emsp;
<div class="col-12">
  <div class="card-body shadow p-3" style="background-color:#f8b739 ;">
    <center><a href="{% url 'DetailBillAnalysis4' %}" class="card-title text-dark text-center" style="font-size:25px;">AI Bills Passed in Three Countries in all Years.</a></center>
</div>
</div>
&emsp;
<div class="col-12">
  <div class="card-body shadow p-3" style="background-color:#f8b739 ;">
    <center><a href="{% url 'DetailBillAnalysis5' %}" class="card-title text-dark text-center" style="font-size:25px;">AI Bills Passed in Two Countries From Starting Year To Ending Year.</a></center>
</div>
</div>
&emsp;
<div class="col-12">
  <div class="card-body shadow p-3" style="background-color:#f8b739 ;">
    <center><a href="{% url 'DetailBillAnalysis6' %}" class="card-title text-dark text-center" style="font-size:25px;">World Map Of AI Bills Passed in Whole World in All Years.</a></center>
</div>
</div>
&emsp;
<div class="col-12">
  <div class="card-body shadow p-3" style="background-color:#f8b739 ;">
    <center><a href="{% url 'DetailBillAnalysis7' %}" class="card-title text-dark text-center" style="font-size:25px;">Bargraphs of AI Bills Passed in All Countries.</a></center>
</div>
</div>
&emsp;
{% endblock %}